$colors: (
  common: (
    white: #ffffff,
    black: #000,
  ),
  heading: (
    primary: #000,
  ),
  grey: (
    1: #6e6e6e,
    2: #f5f6f8,
  ),
  text: (
    body: #000,
    title: rgb(84, 82, 82),
    1: rgba(0, 0, 0, 0),
  ),
  theme: (
    1: #728c70,
    2: #5f6354,
    3: #7b7a64,
    4: #f6f4ed,
    green: #2d8732,
  ),
  border: (
    1: #d3d3d3,
  ),
);
