@use "../utils" as *;

/*----------------------------------------*/
/*  00.  HERO SECTION CSS START
/*----------------------------------------*/
.hero__area {
    width: 100%;
    a {
        display: block;
        width: 100%;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}
